<!-- <form class="example-form">

    <mat-form-field >
        <input matInput placeholder="First Name"  />
        <input matInput placeholder="LastName Name" />
    </mat-form-field>
    <button (click)="">Save</button>
    <button (click)="resetOrignalStateOfStudent()">Back</button>
</form> -->
<p>In edit</p>
<!-- <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </form> -->
      